:root{
  --TWGSS-green: 55, 126, 34;
  --TWGSS-green-mid: 90, 201, 55;
  --TWGSS-green-light: 178, 230, 162;
  --TWGSS-green-light-50: 216, 242, 208;
  --TWGSS-green-light-25: 236, 249, 232;
  --white: 255, 255, 255;
  --black: 0, 0, 0;
  --background-colour: 255, 255, 255;

  --default-font: 'Rajdhani';

  --filter-TWGSS-green: brightness(0) saturate(100%) invert(35%) sepia(74%) saturate(406%) hue-rotate(61deg) brightness(100%) contrast(102%);

  --footer-height: 50px;
  --header-height: 62px;
}

/* REFRENCE: https://codepen.io/sosuke/pen/Pjoqqp */
/* WORK IN OROGRESS */
.darkmode:root {
  --TWGSS-green: 178, 230, 162;
  --TWGSS-green-mid: 90, 201, 55;
  --TWGSS-green-light: 55, 126, 34;
  --TWGSS-green-light-50: 53, 88, 42;
  --TWGSS-green-light-25: 52, 70, 47;
  --white: 0, 0, 0;
  --black: 255, 255, 255;
  --background-colour: 51, 51, 51;

  --filter-TWGSS-green: brightness(0) saturate(100%) invert(90%) sepia(15%) saturate(701%) hue-rotate(56deg) brightness(95%) contrast(91%);
}
.darkmode body {
  background: rgb(var(--background-colour));
  color: white; 
}
.darkmode #logo{
  filter: brightness(0) invert(1);
}
.darkmode .header-page-icon{
  filter: brightness(0) invert(1) !important;
}
.darkmode #nav .active .header-page-icon{
  filter: brightness(75%) !important;
}
.darkmode .header-page-icon.pfp{
  filter: none !important;
}
.darkmode #light-icon{
  transform: translateX(-100%);
}
.darkmode #dark-icon{
  transform: translateX(0);
}
.darkmode #mode-icon{
  filter: brightness(0) invert(1);
}

#mode-icon, #mode-icon img{
  height: 16px;
  width: 16px;
  filter: brightness(0) saturate(100%) invert(40%) sepia(9%) saturate(3739%) hue-rotate(61deg) brightness(97%) contrast(87%);
}

#mode-icon{
  display: flex;
  overflow: hidden;
  position: relative;
  margin-right: 5px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease;
}

#header-real:hover #mode-icon{
  opacity: 0.1;
}

#mode-icon:hover{
  opacity: 1 !important;
}

#light-icon, #dark-icon{
  position: absolute;
  transition: all 0.3s ease;
}

#light-icon{
  /*opacity: 1;*/
  transform: translateX(0);
}

#dark-icon{
  /*opacity: 0;*/
  transform: translateX(100%);
}

@media only screen and (max-width: 720px) {
  #logo img{
    height: 24px !important;
  }
  #clock{
    font-size: unset !important;
  }
  .index-container {
    grid-template-columns: 1fr !important;
  }
  .index-card#problemOfTheWeek{
    animation-delay: 0.25s !important;
  }
  .index-card#recommended{
    animation-delay: 0.5s !important;
  }
  .index-card#announcement{
    animation-delay: 0s !important;
  }
  .index-child{
    max-height: unset !important;
  }
  .portrait-hide{
    display: none;
  }
  .header-page-icon{
    padding-right: 0 !important;
  }
  #logo-word{
    display: none;
  }
  #index-child-left{
    grid-row: 2 / 3;
  }
  #index-child-right{
    grid-row: 1 / 2;
  }
  .multi-container{
    flex-direction: column;
  }
}

/*.theme-light {
  --color-primary: #0060df;
  --color-secondary: #fbfbfe;
  --color-accent: #fd6f53;
  --font-color: #000000;
}

.theme-dark {
  --color-primary: #17ed90;
  --color-secondary: #243133;
  --color-accent: #12cdea;
  --font-color: #ffffff;
}*/

/*@font-face{
  font-family: 'Electrolize';
  src: url('/assets/font/Electrolize-Regular.ttf') format('truetype'); 
}*/

@font-face {
  font-family: 'Consolas';
  src: url('/assets/font/Consolas-Regular.ttf') format('truetype');
} 

@font-face {
  font-family: 'Consolas';
  src: url('/assets/font/Consolas-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Consolas';
  src: url('/assets/font/Consolas-Itatic.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Consolas';
  src: url('/assets/font/Consolas-BoldItatic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
} 

/*@font-face {
  font-family: 'Futura';
  src: url('/assets/font/FUTURA HEAVY FONT.ttf') format('truetype');
  font-weight: heavy;
} 

@font-face {
  font-family: '5Metrik';
  src: url('/assets/font/5metrik_bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: '5Metrik';
  src: url('/assets/font/5metrik_light.ttf') format('truetype');
  font-weight: light;
}

@font-face {
  font-family: 'Sanidana';
  src: url('/assets/font/SANIDANA.ttf') format('truetype');
}

@font-face {
  font-family: 'Clock';
  src: url('/assets/font/TWGOJClock.ttf') format('truetype');
}*/

@font-face {
  font-family: 'Rajdhani';
  src: url('/assets/font/Rajdhani-Bold.ttf') format('truetype');
  font-weight: 700;
}

/*@font-face {
  font-family: 'Rajdhani';
  src: url('/assets/font/Rajdhani-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('/assets/font/Rajdhani-Medium.ttf') format('truetype');
  font-weight: 500;
}*/

/*@font-face {
  font-family: 'Rajdhani';
  src: url('/assets/font/Rajdhani-Regular.ttf') format('truetype');
  font-weight: 400;
} too thin!*/

@font-face {
  font-family: 'Rajdhani';
  src: url('/assets/font/Rajdhani-SemiBold.ttf') format('truetype');
  font-weight: 400;
}

/*@font-face {
  font-family: 'MiSans';
  src: url('/assets/font/MiSans-Thin.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'MiSans';
  src: url('/assets/font/MiSans-ExtraLight.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'MiSans';
  src: url('/assets/font/MiSans-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'MiSans';
  src: url('/assets/font/MiSans-Normal.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'MiSans';
  src: url('/assets/font/MiSans-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'MiSans';
  src: url('/assets/font/MiSans-Demibold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'MiSans';
  src: url('/assets/font/MiSans-Semibold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'MiSans';
  src: url('/assets/font/MiSans-Bold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'MiSans';
  src: url('/assets/font/MiSans-Heavy.ttf') format('truetype');
  font-weight: 900;
}*/

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#top-right{
  display: flex;
  align-items: center;
}

main{
  animation: fade 0.5s ease-out;
}

html, body, select, input{
  font-family: var(--default-font);
  margin: 0;
  background: rgb(var(--background-colour));
  color: rgb(var(--black));
  transition: all 0.3s ease;
}

/* width */
*::-webkit-scrollbar/*, #header-real::-webkit-scrollbar, .table-container::-webkit-scrollbar, .problem-info-bar::-webkit-scrollbar, .index-card::-webkit-scrollbar*/ {
  width: 5px;
  height: 5px;
}

body::-webkit-scrollbar{
  width: 7.5px;
  height: 7.5px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: rgba(var(--TWGSS-green-light-25), 0.5);
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background-color: rgb(var(--TWGSS-green-light-50));
  border-radius: 2.5px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(var(--TWGSS-green-light));
}

#header-real{
  background-color: rgba(var(--TWGSS-green-light-25), 75%);
  backdrop-filter: saturate(180%) blur(15px);
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  position: fixed;
  top: 0;
  z-index: 1;
  padding: 10px 20px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  overflow-x: auto;
  transition: all 0.3s ease;
  height: var(--header-height);
}

#header-space{
  height: var(--header-height);
}

/*#header-real-container{
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  z-index: 1;  
}*/

.web-section{
  float: left;
  color: rgb(var(--black));
  background-color: rgba(var(--TWGSS-green-light), 25%);
  text-align: center;
  padding: 5px 10px;
  margin: 0 5px;
  text-decoration: none;
  font-size: 16px;
  position: relative;
  border-radius: 2.5px;
  white-space: nowrap;
}

.web-section::before{
  background-color: rgb(var(--TWGSS-green-light));
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.25s ease;
  border-radius: 2.5px;
  z-index: -1;
}

.web-section:hover::before{
  transform: scaleY(1);
}

#nav{
  display: flex;
  list-style: none;
  padding: 0px 20px;
}

#nav .active{
  background-color: rgb(var(--TWGSS-green));
  color: rgb(var(--white));
}

#nav .active .header-page-icon{
  filter: brightness(0) invert(1);
}

html, body{
  margin: 0;
  height: 100%;
}

#footer{
  width: 100%;
  text-align: center;
  font-size: small;
  color: rgb(var(--TWGSS-green-light));
  /*position: relative;
  clear: both;
  box-sizing: border-box;
  bottom: 0;
  margin-bottom: 10px;*/

  height: var(--footer-height);
  margin-top: calc(var(--footer-height) * -1);
}

#footer a{
  color: rgb(var(--TWGSS-green-light));
}

main{
  padding: 2% 2%;
  padding-bottom: var(--footer-height);
  box-sizing: border-box;
  min-height: calc(100% - var(--header-height));
}

.grid-container{
  width: 100%;
}
.grid-item {
	width:100%;
}

.grid-title{
  font-weight: bold;
  text-transform: uppercase;
}

.problem-block{
  display: grid;
  font-size: 22px;
}

.problem-id, .page-head-id{
  background-color: rgb(var(--TWGSS-green-light-25));
  border-radius: 2.5px;
}

.problem-id, .problem-name, .page-head-id, .page-head-name{
  grid-row: 1;
  padding: 2.5px 10px;
  position: relative;
}

table, td, th {
  border-collapse: collapse;
  text-align: center;
}

td, th{
  padding: 7px 8px;
}

table, td {
  border: 0.5px solid rgba(var(--TWGSS-green), 10%);
}

th, .sample-tests .sample-heading, .subtasks .sample-heading{
  border: 0.5px solid rgba(var(--white), 10%);
}

tbody tr:nth-child(even){
  background-color: rgba(var(--TWGSS-green-light), 5%);
}

tbody tr, .sample{
  transition: all 0.25s ease;
}

tbody tr:hover, .sample:hover{
  background: rgba(var(--TWGSS-green-light), 10%);
}

thead, .sample-heading{
  background-color: rgb(var(--TWGSS-green-light-25));
  color: rgb(var(--TWGSS-green));
  position: relative;
}

.my_sub_user_bold{
	background-color: rgb(var(--TWGSS-green-mid));
}


.ac{
  color: rgb(var(--TWGSS-green));
  font-weight: bold;
}

.wa, .tle, .re, .ce, .sk{
  color: grey;
}

.big-table{
  width: 100%;
  max-width: 100%;
}

.mid-table{
  width: min(100%, max(400px, 40%));
}

h1{
  /*border-left: 5px solid rgb(var(--TWGSS-green));*/
  padding: 2.5px 5px;
  position: relative;
  width: fit-content;
  /*text-transform: uppercase;*/
}

h1.sp{
  border-left: 0;
  padding: 0;
  margin-top: 0.5%;
  margin-bottom: 2.5%;
}

h1.sp::before, h1.page-head:before{
  display: none;
}

h1::before, h2::before, thead::before, .problem-id::before, .problem-name::before, .page-head-id::before, .page-head-name::before, .web-section::before{
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

h1::before{
  /*background-color: rgb(var(--TWGSS-green-light));
  transform-origin: left;
  animation: title-appear-x 0.5s ease-out forwards;*/
  border: 2.5px solid rgb(var(--TWGSS-green-light));
  border-radius: 5px;
  animation: fade reverse 0.5s ease-out forwards;
}

/*thead::before{
  background-color: rgb(var(--white));
  transform-origin: bottom;
  animation: title-appear-y 0.5s ease-out forwards;
}*/

.problem-id::before, .page-head-id::before{
  animation: fade reverse 0.5s ease-out forwards;
  border: 2.5px solid rgb(var(--TWGSS-green-light));
  border-radius: 2.5px;
}

@keyframes title-appear-x {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

@keyframes title-appear-y {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

@keyframes table-appear {
  0% {
    /*transform: scaleY(0);*/
    opacity: 0;
  }
  100% {
    /*transform: scaleY(1);*/
    opacity: 1;
  }
}

@keyframes index-card-appear {
  from{
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/*td{
  transform-origin: top;
  animation: table-appear 0.5s ease-out;
}*/

.table-container{
  overflow: auto;
}



.page-icon{
  height: 24px;
  width: 24px;
}

.header-page-icon{
  height: 12px;
  width: 12px;
  padding-right: 5px;
  filter: brightness(75%);
  vertical-align: middle;
}

button{
  position: relative;
  font: inherit;
  cursor: pointer;
  width: fit-content;
  background-color: rgba(var(--TWGSS-green-light), 25%);
  border: none;
  padding: 2.5px 10px 2.5px 10px;
  border-radius: 2.5px;
  margin: 5px;
  transition: all 0.25s ease;
  color: rgb(var(--black));
}

button:hover{
  background-color: rgb(var(--TWGSS-green-light));
}

.page-head, .problem-block{
  display: flex;
  box-sizing: border-box;
  justify-content: start;
  align-items: center;
}

.page-head{
  font-weight: bold;
}

h2{
  font-weight: bold;
  border-bottom: 3px dashed transparent;
  position: relative;
  width: fit-content;
}

h2::before{
  border-bottom: 3px solid rgb(var(--TWGSS-green-light));
  transform-origin: bottom;
  transform: scale(0.75);
  opacity: 0;
  transition: all 0.25s ease;
}

section:hover>h2::before, .index-card:hover>h2::before{
  transform: scale(1);
  opacity: 1;
}

section{
  margin-top: 50px;
  margin-bottom: 50px;
}

.inline-code{
  display: inline;
  font-family: 'Consolas';
  border: 1px solid rgb(var(--TWGSS-green-light));
  padding: 1px 2.5px;
  border-radius: 2.5px;
}

.code{
  font-family: 'Consolas';
  font-size: 15px;
  min-width: 120px;
  white-space: nowrap;
  text-align: left;
  vertical-align: top;
  padding: 5px;
  padding-left: 10px;
  padding-right: 15px;
}

.copyable{
  cursor: pointer;
}

.index-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.index-child {
  display: grid;
  width: 100%;
  grid-gap: 10px;
  height: max( calc(85vh - 77px - 41px - 32px), 400px);
}

.index-card{
	width: 100%;
  overflow-y: auto;
	border: 2px solid rgb(var(--TWGSS-green-light-25));
	padding: 15px;
  animation: index-card-appear 0.5s ease-out forwards;
  opacity: 0;
  margin: 0;
  border-radius: 5px;
  box-sizing: border-box;
  transition: all 0.25s ease;
}

.index-card h2{
  text-align: center;
  margin: auto;
}

.index-card:hover{
  border-radius: 2.5px 2.5px 0 0;
  box-shadow: 0 15px 30px rgba(var(--TWGSS-green-light), 10%);
}

.index-card#problemOfTheWeek{
  animation-delay: 0s;
}

.index-card#recommended{
  animation-delay: 0.5s;
}

.index-card#announcement{
  animation-delay: 0.25s;
}

.ann-head, .ann-content{
  block-size: fit-content;
}

.ann-head {
	background-color: rgb(var(--TWGSS-green-light-25));
  padding: 5px 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.ann-content {
	border: 2.5px solid rgb(var(--TWGSS-green-light-25));
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.prob-button{
  min-width: 75px;
}

.count{
  display: inline;
  color: rgb(var(--TWGSS-green-light));
  padding: 0 5px;
  margin-left: 5px;
  transition: all 0.25s ease;
  border-radius: 2.5px;
  border: 2.5px solid rgb(var(--TWGSS-green-light-25));
}

section:hover .count{
  color: rgb(var(--TWGSS-green));
  background-color: rgb(var(--TWGSS-green-light));
  border: 2.5px solid rgb(var(--TWGSS-green-light));
  border-radius: 2.5px 2.5px 0 0;
}

.all-stats-block .stat-block, .all-problem-buttons button{
  margin: 0;
  display: inline;
  white-space: nowrap;
}

.all-stats-block .stat-block.mini:not(:first-child){
  margin-left: 5px;
}

.all-stats-block .stat-block:not(:first-child), .all-problem-buttons button:not(:first-child){
  margin-left: 10px;
}

.problem-info-bar{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto;
  padding: 5px 0;
  margin-top: -10px;
}

.problem-info-bar div:not(:first-child){
  margin-left: 10px;
}

.stat-label, .stat-no{
  display: inline;
  padding: 2.5px 5px;
}

.stat-label{
  background-color: rgb(var(--TWGSS-green-light-25));
  border-top-left-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
}

.stat-no{
  background-color: rgb(var(--TWGSS-green-light-50));
  border-top-right-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
}

.stat-label img{
  height: 12px;
  width: 12px;
  margin-right: 2.5px;
}

section{
  /*width: fit-content;*/
  block-size: fit-content;
}

.index-container section{
  margin: 0;
}

#logo{
  z-index: 1;
  white-space: nowrap;
  text-decoration: none;
  color: rgb(var(--black));
}

.unhighlightable{
  user-select: none !important;
  -webkit-user-select: none !important;
}

.user-input{
	height: 100%;
  width: 100%;
  border: 0px;
  padding: 0px;
  font-size: 16px;
}

.subtask-constraint{
  text-align: left;
}

#clock{
  letter-spacing: 1.5px;
  font-size: large;
  color: rgb(var(--TWGSS-green));
}

#header-real #clock, #header-real #nav{
  top: 50%;
  display: flex;
  align-items: center;
}

#header-real #clock{
  width: 75px;
}

#header-real #nav, #header-real #logo, #header-real #clock{
  vertical-align: middle;
  margin: 0;
}

#header-real #logo, #header-real #clock{
  padding: 0;
}

#logo #logo-light{
  opacity: 1;
  transition: opacity 0.25s ease;
}

#logo:hover #logo-light{
  opacity: 0;
}

#logo-dark{
  opacity: 0;
  position: absolute;
  left: 0;
  transition: opacity 0.25s ease;
}

#logo-icon img, #logo-word img{
  vertical-align: middle;
}

#logo{
  display: flex;
  align-items: center;
}

#logo img{
  height: 28px;
}

#logo:hover #logo-dark{
  opacity: 1;
}

#logo-icon{
  position: relative;
}

.nav-user-option li{
  display: inline;
}

.nav-user-option .header-page-icon{
  padding-right: 0;
}

.nav-user-option .pfp{
  border-radius: 2.5px;
  height: 25px;
  width: 25px;
}

.pfp{
  filter: none;
  border-radius: 5px;
  object-fit: cover;
}

.nav-user-option .web-section{
  margin: 0 5px;
  display: flex;
  vertical-align: middle;
  padding: 7.5px;
}

.nav-user-option::before{
  visibility: hidden;
}

.web-section.pfp-container{
  padding: 0;
}

.nav-user-option.web-section{
  position: relative;
  display: flex;
  align-items: center;
}

.sample-explanation{
  text-align: left;
}

.sample-tests td, .sample-tests tr, .subtasks td, .subtasks td{
  border: none;
  background-color: transparent;
}

.stylized-number{
  font-size: larger;
  font-weight: bold;
  color: rgb(var(--TWGSS-green-light));
}

.rank{
  font-size: medium;
  font-weight: normal;
  background-color: rgb(var(--TWGSS-green-light-25));
  padding: 2.5px 7.5px;
  margin: 0 5px;
  border-radius: 2.5px;
  color: rgb(var(--TWGSS-green));
  text-decoration: none;
}

.rank img{
  margin-right: 5px;
}

.sample-tests, .subtasks, .sample-tests th, .subtasks th{
  border: 0;
}

.sample-tests tr{
  background-color: transparent !important;
}

.sample-tests tr:hover{
  background-color: inherit;
}

.sample-tests thead, .subtasks thead{
  background-color: transparent;
}

textarea {
  resize: none; 
  white-space: pre-wrap; 
  overflow-wrap: normal;
  background: transparent;
  color: rgb(var(--black));
}

select, input{
  border: rgb(var(--TWGSS-green)) 1px solid;
  border-radius: 2.5px;
}

input[type="file" i]{
  border: none;
}

.problem-stat-block .stat-block{
  font-size: small;
}

.problem-stat-block, .ann-card{
  margin-top: 15px;
}

.problem-stat-link{
  text-decoration: none;
  color: rgb(var(--black));
}

.problem-stat-block, .ann-card{
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  transition: all 0.25s ease;
}

.problem-stat-block{
  display: flex;
  justify-content: space-between;
}

.problem-stat-block:hover{
  box-shadow: 0 15px 30px rgba(var(--TWGSS-green-light), 10%);
  background-color: rgba(var(--TWGSS-green-light), 25%);
}

.all-stats-block, .all-problem-buttons{
  display: flex;
  align-items: center;
}

.nav-icon{
  height: 12px;
  width: 12px;
  transition: filter 0.25s ease;
}

button:hover .nav-icon{
  filter: brightness(0) invert(1);
}

button.nav-button{
  transition: background-color 0.25s ease;
}

button.nav-button:hover{
  background-color: rgb(var(--TWGSS-green));
}

button.nav-button::before{
  visibility: hidden;
}

.white-pic{
  filter: brightness(0) invert(1);
}

.ann-date{
  font-size: 12px;
  color: rgb(var(--TWGSS-green));
  display: block;
}

.ann-title{
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  display: block;
  margin-top: 2.5px;
}

.table-head-icon{
  filter: var(--filter-TWGSS-green);
  height: 12px;
  width: 12px;
  padding: 0 2px;
  vertical-align: baseline;
}

[data-href] {
  cursor: pointer;
}

.numbers, .ann-date, #clock, .stat-no, .problem-id, .subtask-points{
  font-family: 'Rajdhani';
  letter-spacing: 1px;
}

.user-basic .pfp{
  border-radius: 2.5px 0 0 2.5px;
  vertical-align: top;
  height: 20.5px;
  width: 20.5px;
  object-fit: cover;
  margin-right: 2.5px;
}

.user-basic, .small-problem-basic{
  background-color: rgb(var(--TWGSS-green-light-25));
  display: inline;
  border-radius: 2.5px;
  margin-right: 5px;
  white-space: nowrap;
}

.user-basic{
  padding-right: 5px;
}

.small-problem-basic{
  padding: 0 5px;
}

.user-block, .small-problem-block{
  display: inline;
}

.user-link, .small-problem-link{
  text-decoration: none;
  color: rgb(var(--black));
}

table [data-href]{
  transition: background-color 0.25s ease;
}

table [data-href]:hover{
  background-color: rgb(var(--TWGSS-green-light));
}

.table-list {
  display: grid;
  overflow: auto;
  grid-row-gap: 10px;
}

.template-list {
  grid-template-columns: max-content max-content;
}

.user-list {
  grid-template-columns: max-content max-content max-content;
}

.table-list .list-block {
  padding: 2.5px 5px;
}

.table-list .list-block-content {
  padding: 5px 10px;
}

.list-block {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.list-block-content {
  display: block;
  text-align: center;
}

td.subtask-cell{
  padding: 0;
}

.subtask-bar{
  display: table;
  width: 100%;
  height: 100%;
}

.subtask-bar .subtask-score{
  padding: 5px 8px;
  display: table-cell;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}

.subtask-bar .subtask-score:not(:first-child){
  border-left: 0.5px solid rgba(var(--TWGSS-green), 10%);
}

.setting-cell{
  text-align: left;
}

#contest button:first-of-type, #problem button:first-of-type{
  margin-left: 0;
}

@keyframes back-appear {
  from {opacity: 0%;}
  to {opacity: 100%;}
}

#back{
  overflow: hidden;
  position: fixed;
  top: calc(var(--header-height) + 10px);
  right: 0;
  z-index: 1;
}

#back-button {
  background-color: rgba(var(--TWGSS-green-light-25), 75%);
  backdrop-filter: saturate(180%) blur(15px);
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  height: 25px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  color: rgb(var(--TWGSS-green));
  margin: 0;
  animation: back-appear 0.5s ease-out;
  text-transform: uppercase;
  width: fit-content;
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 2.5px 0 0 2.5px;
}

#back-button:hover {
  background-color: rgb(var(--TWGSS-green-light));
}

#podium{
  display: grid;
  grid-column-gap: 10px;
  grid-template-rows: repeat(6, 40px);
  grid-template-columns: repeat(3, 120px);
}

#podium .prize-group:nth-child(1){
  grid-column: 2;
  grid-row: 1 / span 3;
}

#podium .prize-group:nth-child(2){
  grid-column: 1;
  grid-row: 2 / span 3;
}

#podium .prize-group:nth-child(3){
  grid-column: 3;
  grid-row: 3 / span 3;
}

#podium .prize-step:nth-child(4){
  background: gold;
  grid-column: 2;
  grid-row: 4 / span 3;
}

#podium .prize-step:nth-child(5){
  background: silver;
  grid-column: 1;
  grid-row: 5 / span 2;
}

#podium .prize-step:nth-child(6){
  background: #cd7f32;
  grid-column: 3;
  grid-row: 6 / span 1;
}

#podium .prize-group{
  display: flex;
  justify-content: center;
  align-items: center;
}

#podium .prize-step{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.multi-container{
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}

.multi-container section{
  margin: 0;
}